@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

/* header-section */
header {
    width: 100%;
    margin: 28px 0;
}

header .navbar {
    display: grid;
    grid-template-areas:
        "logo hamburger"
    ;
    padding: 0 16px;
    align-items: center;
    gap: 16px 0;
}

header .navbar.show {
    grid-template-areas:
        "logo hamburger"
        "search search"
        "menus menus"
        "fav fav"
    ;
}

header .logo {
    grid-area: logo;
}

header .search {
    display: none;
    grid-area: search;
    height: 56px;
    position: relative;
}

header .search.show {
    display: block;
}

header .search img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

header .search input {
    height: inherit;
    width: 100%;
    padding-left: 34px;
    border: none;
    outline: none;
    background-color: #2e2e2e20;
    border-radius: 8px;
    color: #656565;
}

.search input:focus,
.search input:active {
    border: none;
    outline: none;
    box-shadow: none;
}

header .menus {
    display: none;
    grid-area: menus;
}

header .menus.show {
    display: block;
}

header .menus ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header .menus ul li {}

header .menus ul li a {
    text-decoration: none;
    color: #656565;
}

header .menus ul li a.active {
    color: #000;
}

header .utility-section {

    display: none;
    grid-area: fav;
    gap: 16px;
}

header .utility-section.show {
    display: flex;
}

header .hamburger {
    grid-area: hamburger;
    justify-self: end;
}

header .hamburger #close {
    display: none;
}

header .categories-list {
    display: none;
    background: #2E2E2E;
    margin-top: 16px;
    padding: 0 16px;
}

header .categories-list.show {
    display: block;
}

header .categories-list ul {
    display: flex;
    list-style: none;
    overflow-x: auto;
    gap: 8px;
    align-items: center;
    padding: 8px 0;
    scrollbar-width: none;
}

header .categories-list ul li {
    display: flex;
    color: #ffffff;
    gap: 8px;
    align-items: center;
}

header .categories-list ul li span {
    white-space: nowrap;
}

header .categories-list ul li img {
    width: 20px;
    height: 20px;
}

header .categories-list ul li.line {
    display: block;
    /* override flex from li */
    width: 1px;
    height: 20px;
    background-color: #fff;
    flex-shrink: 0;
}



@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1440px) {}