@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-section */
header {}


header section {
    display: grid;
    grid-template-areas:
        "logo burger"
        "search search"
        "nav nav"
        "fav fav"

    ;

}

header .navbar {
    padding: 24px 16px;
}

header .logo {
    grid-area: logo;
    justify-self: start;
    align-self: center;
}

header .search {
    display: none;
    grid-area: search;
    margin-top: 24px;
}

header nav {
    display: none;
    grid-area: nav;
    margin: 24px 0;
}

header nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

header nav ul li {
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: #2e2e2e9a;
}

header nav ul li a.active {
    color: #2e2e2e;
}

header .show {
    display: flex !important;
}

header .utility-section {
    display: none;
    grid-area: fav;
    gap: 16px;
}

header .hamburger {
    grid-area: burger;
    justify-self: end;
}

header .hamburger #close {
    display: none;
}

header .categories-list {
    display: none;
    background-color: #2E2E2E;
    padding: 16px;
    color: #ffffff;
}

header .categories-list ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
    align-items: center;
    gap: 12px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

header .categories-list ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    border-right: 1px solid gray;
    padding-right: 12px;
    height: fit-content;
    min-width: fit-content;
}

header .categories-list ul li img {
    width: 24px;
    fill: #fff;
}